body {   
    background-image: url('../img/cactus.png');
    background-color: #ffd057;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    width: 100%;
    height: 100vh; 
    
}
a#more {
    position: absolute;
    bottom: 170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
    color: #572814;
    background-color: #e95b40;
    border-color: #572814;
    border-radius: 5px;
    font-family:'Trebuchet MS';
    font-weight: 900;
}

.joke-text {
    margin-top: 30px;
    
    text-align: center;
    color:  #572814;
    font-family: 'Trebuchet MS';
}

.navbar {
    background-color: #e95b40;    
    height: 60px;    
}

.navbar a {
    color: #572814;
    font-family: 'Trebuchet MS';
    font-size: 30px;
    font-weight: 900;
}

a.navbar-brand {
    height: 100%;
}

#iconchuck {
    border: #572814;
    border-radius: 5px;
   
}

div.container1 {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%; 
    font-size: x-small;
    color: #572814;  
}

.text-mutted {
    color: #572814;
}

.container-fluid {
    height: 100%;
}